.powen-main-slider {
	width: 100%;
	overflow: hidden;
	display: none;
	background: #ffffff;
}

.powen-slide {
	position: relative;
	&:hover {
		.powen-slider-content{
			-webkit-transform: translateY(0%);
			-moz-transform: translateY(0%);
			-ms-transform: translateY(0%);
			-o-transform: translateY(0%);
			transform: translateY(0%);
			opacity: 1;
		}
	}
}

.powen-slider-content {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: auto;
	padding: rem-calc(5);
	background: $color__powen-slider-content-background;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	opacity: 0;
}
.powen-slider-title {
	line-height: 1.2;
	color: #ffffff;
	margin: rem-calc(10 0);
}
.powen-slider-description {
	color: #fafafa;
	line-height: 1.2;
	margin-bottom: rem-calc(30);
}

.slick-slide{
	img{
		width: 100%;
	}
}

.slick-next{
	&:before{
	    margin-left: rem-calc(6);
	}
}

.slick-prev{
	&:before{
		margin-left:rem-calc(3);
	}
}
