.flex-prev {
	font-size: rem-calc(14);
	padding: rem-calc(0 12);
}
.flex-next {
	font-size: rem-calc(14);
	padding: rem-calc(0 12);
}
.flexslider {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slides {
	li {
		position: relative;
	}
	img {
		width: 100%;
	}
}
.powen-slider-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: rem-calc(5);
	background: $color__powen-slider-content-background;
	h3 {
		color: $color_text_on_dark_background_default;
		margin-bottom: 0;
	}
	p {
		color: $color_text_on_dark_background_default;
		width: 100%;
	}
}