.widget {
	margin: 0 0 $phi * 1rem;
	select {
		max-width: 100%;
	}
}
.widget-area, .footer_widgets  {
	button,
	  input[type="button"],
	  input[type="reset"],
	  input[type="submit"] {
	    display: none;
	}
}
.widget-area ul {
	list-style: none;
}
//widget_tag_cloud
.widget_tag_cloud {
	a {
		font-size: rem-calc(10);
		letter-spacing: rem-calc(1);
		text-transform: uppercase;
		padding: rem-calc(3);
		margin: rem-calc(10 5);
		display: inline-block;
		border: 1px dotted;
        &:hover {
            border: 1px solid;
        }
	}
}

//widget_archive
.widget_archive li a {
	background: none;
}

//widget_search
.widget_search, .widget_calendar, .widget_tag_cloud {
	padding: rem-calc(0 10);
}

.search-form .search-field {
    border: 1px solid #ccc;
}

//widget_text
.widget_text {
	overflow: hidden;
}

//widget_rss
.widget_rss {
	li {
		margin-bottom: rem-calc(10);
		a {
			display: block;
			font-weight: bold;
		}
	}
}
.rss-date {
	display: block;
}
.rssSummary {
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
}

.widget-area li {
	border-bottom: 1px dashed #ccc;
	padding: rem-calc(10 0);
	&:last-child {
		border-bottom: none;
	}
}

.widget_calendar caption, .widget_calendar .current-date, .powen-pagination .current {
  color: #ffffff;
}

// FOOTER STYLE
.footer_widgets .widget_powen_social_widget li {
    border: 1px dotted;
}


/* floats */
.quarter,
.one-third,
.two-thirds,
.half {
    float: left;
}

/* widths */
.one-third {
    width: 32%;
}
.two-thirds {
    width: 65.5%;
}
.quarter {
    width: 23.5%;
}
.three-quarters {
    width: 74.5%;
}
.half {
    width: 48%;
}

/* margins  */
.one-third {
    margin: 0 0.5%;
}
.quarter,
.two-thirds {
    margin: 0 0.5%;
}
.left,
.quarter.left,
.one-third.left {
    margin: 0 1% 0 0;
    float: left;
}
.right,
.quarter.right,
.one-third.right {
    margin: 0 0 0 1%;
    float: right;
}
.half.left {
    width: 48%;
    margin: 0 2% 0 0;
}
.half.right {
    width: 48%;
    margin: 0 0 0 2%;
}
.two-thirds.left {
    margin: 0 1% 0 0;
}
.two-thirds.right {
    margin: 0 0 0 1%;
    float: right;
}

//social icons
.widget_powen_social_widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        border: 1px dotted;
        height: rem-calc(60);
        width: rem-calc(50);
        padding: rem-calc(12);
        border-radius: 2px;
        margin: rem-calc(2);
        &:last-child {
            border-bottom: 1px dotted;
        }
    }
    a {
        padding: rem-calc(1);
    }
}

/* media queries for larger screens such as small tablets in landscape or large tablets in portrait */
@media screen and ( max-width: 780px ) {

    /* only the .quarter layout class is relevant here - all other classes will have full width */
    .quarter {
        width: 48%;
    }
    .quarter.left {
        margin-right: 2%;
    }
    .quarter.right {
        margin-left: 2%;
    }
    footer .third.quarter.widget-area {
        clear: both;
    }
}

/* media queries for small screens in landscape mode (or similar) */
@media screen and ( max-width: 600px ) {

    /* width sizing all full width in small screens */
    .quarter,
    .one-third,
    .half,
    .two-thirds,
    .three-quarters,
    .full-width {
        width: 100%;
        margin: 0;
    }
    /* padding adjustments */
    .widget-area {
        padding: rem-calc(0 0 10 0);
    }
}