.widget {
	margin: 0 0 $phi * 1rem;
	select {
		max-width: 100%;
	}
}
.widget-area, .powen-footer-widgets  {
	button,
	  input[type="button"],
	  input[type="reset"],
	  input[type="submit"] {
	    display: none;
	}
}
.widget-area ul {
	list-style: none;
}
//widget_tag_cloud
.widget_tag_cloud {
	a {
		letter-spacing: rem-calc(1);
		text-transform: uppercase;
		padding: rem-calc(5 10);
		margin: rem-calc(3 1);
		display: inline-block;
		border: 1px dotted;
        &:hover {
            border: 1px solid;
        }
	}
}

//widget_archive
.widget_archive li a {
	background: none;
}

//widget_search
.widget_search, .widget_calendar, .widget_tag_cloud {
	padding: rem-calc(0 10);
}

//widget_text
.widget_text {
	overflow: hidden;
}

//widget_rss
.widget_rss {
	li {
		margin-bottom: rem-calc(10);
		a {
			display: block;
			font-weight: bold;
		}
	}
}
.rss-date {
	display: block;
}
.rssSummary {
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
}

.widget-area li {
	border-bottom: 1px dashed #ccc;
	padding: rem-calc(10 0);
	&:last-child {
		border-bottom: none;
	}
}

.widget_calendar caption, .powen-pagination .current {
  color: #ffffff;
}

.widget_calendar .current-date a {
    color: #ffffff;
}

// FOOTER STYLE


/* floats */
.quarter,
.one-third,
.two-thirds,
.half {
    float: left;
}

/* widths */
.one-third {
    width: 32%;
}
.two-thirds {
    width: 65.5%;
}
.quarter {
    width: 23.5%;
}
.three-quarters {
    width: 74.5%;
}
.half {
    width: 48%;
}

/* margins  */
.one-third {
    margin: 0 0.5%;
}
.quarter,
.two-thirds {
    margin: 0 0.5%;
}
.left,
.quarter.left,
.one-third.left {
    margin: 0 1% 0 0;
    float: left;
}
.right,
.quarter.right,
.one-third.right {
    margin: 0 0 0 1%;
    float: right;
}
.half.left {
    width: 48%;
    margin: 0 2% 0 0;
}
.half.right {
    width: 48%;
    margin: 0 0 0 2%;
}
.two-thirds.left {
    margin: 0 1% 0 0;
}
.two-thirds.right {
    margin: 0 0 0 1%;
    float: right;
}

//social icons
.widget_powen_social_widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        border-bottom: none;
        padding: 0;
        margin: rem-calc(1);
        a {
            padding: rem-calc(10 20);
            text-align: center;
            display: inline-block;
            width: rem-calc(56);
            border: 1px solid #ccc;
            border-radius: rem-calc(3);
        }
    }

}

#monster-widget-placeholder-8 {
    width: 100%;
    padding: $default_gutter;
}