.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.content-area {
	.post-comment {
		background: red;
	}
	.comments-title {
		text-align: center;
	}
}

.comment-body {
	img {
		border-radius: 100%;
	}
	.says {
		display: none;
	}
	.fn {
		display: block;
	}
	.comment-author img {
		float: left;
		margin-right: rem-calc(10);
	}
	.comment-metadata {
		padding-bottom: rem-calc(5);
		font-size: rem-calc(12);
	}
	.reply {
		text-align: right;
	}
}