.comment-content {
	font-size: rem-calc(14);
	color: #757575;
	a {
		word-wrap: break-word;
	}
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid #f1f1f1;
	padding: rem-calc(30 0);
}

.comment-list {
	.children {
		list-style: none;
	}
}

.bypostauthor {
	display: block;
}

.content-area {
	.post-comment {
		background: red;
	}
	.comments-title {
		text-align: center;
		margin-bottom: rem-calc(50);
	}
}

.comment-body {
	img {
		border-radius: 100%;
	}
	.says {
		display: none;
	}
	.fn {
		display: block;
	}
	.comment-metadata {
		padding-bottom: rem-calc(5);
		font-size: rem-calc(14);
	}
	.reply {
		text-align: right;
		font-size: rem-calc(14);
	}
}
.comment-author {
	b a {
		color: #000000;
	}
	.avatar {
		float: left;
		margin-right: rem-calc(10);
	}
}
.comment-awaiting-moderation {
	background: #fafafa;
	padding: rem-calc(15);
	border: 1px solid #f1f1f1;
	border-radius: rem-calc(3);
}
.comment-metadata a {
	color: #aaaaaa;
}
#cancel-comment-reply-link {
	font-size: rem-calc(14);
	color: #aaaaaa;
	margin-left: rem-calc(10);
	&:before {
		margin-right: rem-calc(5);
	}
}
.logged-in-as {
	a {
		color: #aaaaaa;
		font-size: rem-calc(14);
	}
	a:first-child, a:nth-child(2) {
		&:before {
			margin-right: rem-calc(5);
		}
	}
	a:nth-child(2) {
		margin-left: rem-calc(10);
	}
}
.no-comments {
	border-top: 1px solid #f1f1f1;
	font-weight: 700;
	margin: 0;
	padding-top: rem-calc(30);
}