.powen-most-recent-post {
	background: #ffffff;
	padding: rem-calc(20);
	position: relative;
	padding-top: rem-calc(50);
	img {
		margin: 0 auto;
		overflow: hidden;
	}
}

.powen-latest-post-tag {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	padding: rem-calc(10 30);
}

.entry-footer {
	letter-spacing: rem-calc(1);
	.post-share {
		font-size: rem-calc(14);
	}
}

.featured-img img {
	display: block;
	overflow: hidden;
}

.site-main {
	.entry-date {
		padding-right: rem-calc(5);
	}
}
.content-area {
	.post-comment {
		background: red;
	}
	.comments-title {
		text-align: center;
	}
}
.posted-on, .byline {
	padding: rem-calc(5);
}
.comment-body {
	img {
		border-radius: 100%;
	}
	.says {
		display: none;
	}
	.fn {
		display: block;
	}
	.comment-author img {
		float: left;
		margin-right: rem-calc(5);
	}
	.comment-metadata {
		padding-bottom: rem-calc(5);
	}
	.reply {
		text-align: right;
	}
}
.comment-respond .logged-in-as a {
	font-weight: bold;
}

//powen-pagination
.powen-pagination {
	overflow: hidden;
	clear:both;
	position:relative;
	font-size: rem-calc(11);
}
.powen-pagination span {
	display:block;
	float:left;
	margin: rem-calc(5 5 5 0);
	text-decoration:none;
	padding: rem-calc(5);
	border-radius: rem-calc(3);
	background: #ffffff;
}
.powen-pagination .current {
	width: rem-calc(50);
	height: rem-calc(50);
	border-radius: rem-calc(3);
	text-align: center;
}
.powen-pagination a {
	display: block;
	float: left;
	margin: rem-calc(5 5 5 0);
	text-decoration: none;
	padding: rem-calc(5);
	width: rem-calc(50);
	height: rem-calc(50);
	border-radius: rem-calc(3);
	text-align: center;
	background: #ffffff;
	&:hover {
		border: rem-calc(1) solid;
	}
}
.powen-pagination a, .powen-pagination span {
  color: #999999;
  border: rem-calc(1) solid #999999;
}

.powen-pagination .page-previous, .powen-pagination .page-next, .powen-pagination .page-last {
	padding: rem-calc(5);
	width: rem-calc(70);
	height: rem-calc(50);
}

.powen-pagination .next, .powen-pagination .prev {
	width: rem-calc(70);
	height: rem-calc(50);
}

.powen-pagination .dots {
	background: none;
	border: none;
}

//breadcrumbs
.breadcrumbs{
    list-style:none;
    overflow:hidden;
    background: #fff;
    margin: 0;
}

.breadcrumbs li{
    display:inline-block;
    margin-right: rem-calc(5);
    padding: rem-calc(5);
}
.continue-reading {
	text-align: right;
}