* {
	box-sizing: border-box;
	word-wrap: break-word;
}

body {
	@include body();
}

@include links();

blockquote {
	padding: $default_gutter;
	font-size: 20*$px;
	@include blockquote();
}

// Overridden from lists.scss
ul, ol {
	padding: 0;
	margin: rem-calc(0 0 10 10);
}

.sticky {
	position: relative;
}

@include htags();

// content of layout/content-sidebar pasted here for easier modification

.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.pagination {
	padding: rem-calc(10);
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.powen-wrapper {
	max-width: rem-calc(1125);
	margin: 0 auto;
}

.powen-footer-widgets {
	overflow: hidden;
}

.widget-container {
	padding: $default_gutter;
	ul {
		margin: 0;
		padding: 0;
	}
}

//Slider
.flexslider h6 {
	line-height: 1.5;
	color: #fff;
	margin: rem-calc(10 0);
	font-size: rem-calc(14);
}
.flexslider p {
	font-size: rem-calc(11);
	line-height: 1.5;
	margin-bottom: rem-calc(30);
}

// **-----
// CUSTOM STYLES
// **-----

// Header
.site-header {
	width: 100%;
	background-color: #fff;
}

.site-branding {
	padding-top: $default_gutter;
	padding-bottom: $default_gutter;
	text-align: center;
}

h1.site-title {
	font-weight: 700;
}

.site-title, .site-description {
	vertical-align: bottom;
}

//Navigation

#site-navigation .menu-header-menu-container, #main-nav {
	display: none;
}
#site-navigation .menu {
	display: none;
}

// Content
.site-content {
	max-width: rem-calc(1125);
	margin: $default_gutter auto;
}

//**** Posts & pages

// (hentry class covers both) plus their internal elements
.article-hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
	padding-left: $post_l_padding;
	padding-right: $post_r_padding;
	padding-bottom: $post_b_padding;
	padding-top: $post_t_padding;
	margin: 0;

	@include main_panel();
}

.powen-most-recent-post {
	margin-top: $post_t_padding;
}

.article-hentry {
	@include sticky_post();
}

.site-info, .powen-footer-widgets {
	padding: $default_gutter 0;
}

.powen-recent-post {
	margin-top: $default_gutter;
}

.powen-pagination {
	margin-bottom: $default_gutter;
}

.powen-featured-img {
	overflow: hidden;
	@include main_panel();
	img {
	margin: 0 auto;
	display: block;
	}
}

.post-thumbnail {
	margin-top: $default_gutter;
	margin-right: -$post_r_padding;
	margin-bottom: $default_gutter;
	margin-left: -$post_l_padding;
	img {
		min-width: 100%;
		vertical-align: bottom;
	}
	@include post_thumbnail();
}

// Centers category headers
.page-header .page-title {
	text-align: center;
}

//**** Individual post styling

.entry-content {
	a img {
		// prevent gap below linked image
		vertical-align: bottom;
	}
}

// Center the post's title
.entry-header {
	text-align: center;
	overflow: hidden;
}

.entry-meta {
	display: inline-block;
	font-weight: 300;
	font-size: rem-calc(14);
	@include entry_meta();
}

.continue_btn {
	text-align: center;
}

.entry-content {
	a.more-link {
		font-size: 18*$px;
		font-weight: 700;
		display: inline-block;
		padding: rem-calc(10);
		margin: 2em 0 .5em 0;

		@include more_link();
	}
}

.entry-footer {
	margin: $post_b_padding 0 $post_b_padding / $phi 0;
	line-height: 3em;
	text-align: center;
	span {
		margin: rem-calc(5);
		padding: rem-calc(5);
		display: inline-block;
	}
	@include entry_footer();
}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
	.comment {
		padding: $default_gutter;
		@include comment();
	}
}

.comment-respond .form-allowed-tags {
	display: none;
}

//**** Widgets

.widget {
	padding-left: $widget_l_padding;
	padding-right: $widget_r_padding;
	padding-top: $widget_t_padding;
	padding-bottom: $widget_b_padding;
	margin-left: $default_gutter;
	margin-bottom: $default_gutter;

	@include sub_panel();
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		&.page_item_has_children, &.menu-item-has-children {
			padding-bottom: 0;
			border: none;
		}

		// Prevent excessive, layout breaking nesting indentation levels
		li li li {
			padding-left: 0;
		}
	}
	.children li:first-of-type, .sub-menu li:first-of-type {
		margin-top: rem-calc(1);
	}

}

.powen-top-container {
	overflow: hidden;
	padding: $default_gutter 0;
	nav{
		display: inline-block;
	}
	.powen-social-media-icons {
		margin: 0;
	    li {
			margin: rem-calc(1);
			display: inline-block;
			a {
				padding: rem-calc(5 10);
				width: rem-calc(33);
				display: block;
				text-align: center;
			}
		}
	}

	.search-form {
		text-align: right;
		.search-submit {
			display: none;
		}
		input.search-field {
			text-indent: rem-calc(10);
			height: rem-calc(40);
			letter-spacing: 1px;
			border: none;
			border-bottom: 1px solid #ccc;
			border-radius: 2px;
			padding-right: rem-calc(20px);
		}
	}
}

.powen-search-box-top, .powen-social_media_container {
	padding: $default_gutter/2 0;
}

.widget_search input {
	width: 100%;
}

.powen-nav {
	display: inline-block;
	padding: rem-calc(10);
	a {
		padding: $default_gutter/2 0;
	}
}
.powen-social-media-container {
	width: 100%;
	text-align: right;
	overflow: hidden;
}
.powen-top-most-nav, .powen-main-navigation {
	display: inline-block;
	overflow: hidden;
	padding: rem-calc(10);
	border-radius: 2px;
	box-shadow: 0 0 1px 0 #ccc;
	a {
		color: #666666;
	}
}

.powen-search-box-top {
	display: inline-block;
	float: right;
	.search-form {
		padding: rem-calc(0 10);
		position: relative;
	}
}

// Footer

.site-footer {
	width: 100%;
	overflow: hidden;
}

.powen-footer-widgets .widget {
	background: transparent;
	float: left;
	margin: 0 1% 0 0;
	width: 24%;
	padding: 1%;
}

//colors
.powen-footer-widgets {
	background: #222222;
	color: #808080;
	a {
		color: #cccccc;
	}
	.powen-wrapper {
		overflow: hidden;
	}
}
.site-info {
	text-align: center;
	background: #000000;
	color: #404040;
	overflow: hidden;
	a {
		color: #666666;
	}
}


//**** Responsive layout adjustments

@media (max-width: rem-calc(1125)) {

	// Output headings at smaller size
	@include htags(0.7);

	// redeclare variables to be smaller
	$default_h_padding: $phi * $phi * 1rem;
	$default_v_padding: $default_h_padding;

	// Posts and widgets horizontal padding
	$post_l_padding: $default_h_padding;
	$post_r_padding: $post_l_padding;

	// Posts and widgets vertical padding
	$post_t_padding: $default_h_padding / $phi;
	$post_b_padding: $post_t_padding;

	.article-hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
		padding-left: $post_l_padding;
		padding-right: $post_r_padding;
		padding-top: $post_t_padding;
		padding-bottom: $post_b_padding;
	}

	.post-thumbnail {
		margin-top: $default_gutter;
		margin-right: -$post_r_padding;
		margin-bottom: $default_gutter;
		margin-left: -$post_l_padding;
	}

}

@media (max-width: rem-calc(900)) {

	// Single col layout
	#primary, #secondary {
		overflow: hidden;
		float: none;
		margin: 0;
		width: 100%;
	}

	#primary .site-main {
		margin: 0;
	}

	.widget {
		margin-left: 0;
		margin-bottom: $default_gutter;
		margin-top: $default_gutter;
	}
	.widget-area .widget {
		margin-right: 0;
	}

	.flexslider .powen-slider-content {
		visibility: visible;
		opacity: 1;
	}
	.flexslider .powen-slider-content p, .flexslider .powen-slider-content h6{
		visibility: visible;
		opacity: 1;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		margin: rem-calc(5 0);
	}
	.flexslider .flex-control-nav {
		display: none;
	}

	.quarter,
	.one-third,
	.half,
	.two-thirds,
	.three-quarters,
	.full-width {
	    width: 100%;
	    margin: 0;
	}
	/* padding adjustments */
	.widget-area {
	    padding: rem-calc(0 0 10 0);
	}
}

@media (max-width: rem-calc(600)) {

	@include htags(0.5);

	.flexslider .flex-direction-nav .flex-next, .flexslider .flex-direction-nav .flex-prev {
		display: none;
	}
}

@media (max-width: rem-calc(400)) {

	@include htags(0.4);

	// redeclare variables to be smaller
	$default_h_padding: $phi * 1rem;
	$default_v_padding: $default_h_padding;

	// Posts and widgets horizontal padding
	$post_l_padding: $default_h_padding;
	$post_r_padding: $post_l_padding;
	$widget_l_padding: $default_h_padding;
	$widget_r_padding: $widget_l_padding;

	// Posts and widgets vertical padding
	$post_t_padding: $default_h_padding / $phi;
	$post_b_padding: $post_t_padding;
	$widget_t_padding: $default_h_padding;
	$widget_b_padding: $widget_t_padding;

	.article-hentry, .comments-area, .page-header, .site-main .posts-navigation, .site-main .post-navigation, .paging-navigation {
		padding-left: $post_l_padding;
		padding-right: $post_r_padding;
		padding-top: $post_t_padding;
		padding-bottom: $post_b_padding;
	}

	.powen-recent-article {
		padding-top: $post_t_padding;
	}

	.post-thumbnail {
		margin-top: $default_gutter;
		margin-right: -$post_r_padding;
		margin-bottom: $default_gutter;
		margin-left: -$post_l_padding;
	}

	.entry-title {
		margin-bottom: $post_t_padding;
	}

	.flexslider {
		@include htags(0.6);
	}
	.flexslider h6 {
		line-height: 1;
	}

	button, input[type="button"], input[type="reset"], input[type="submit"] {
		display: none;
	}
}