/*------------------
FontAwesome
---------------------*/
	//HEADER
	.powen-top-most-nav .mm:before,
	.powen-main-navigation .m:before,
	.powen-search-box-top .search-form label:after,
	//PRIMARY ICONS
	.posted-on:before,
	.comments-link:before,
	.edit-link:before,
	.nav-previous a:before,
	.nav-next a:after,
	.author:before,
	.content-area .hentry .entry-date:after,
	.cat-links:before,
	.comment-metadata time:before,
	.powen-continue-reading:after,
	//SECONDARY ICONS
	.widget_recent_comments li:before,
	.widget_recent_comments li>a:before,
	.widget_archive li:before,
	.widget_recent_entries li:before,
	.widget_categories li:before,
	.widget_meta li:before,
	.widget_pages li:before,
	.powen-wrapper .recent-comment-people:before,
	.menu-long-menu-container li:before,
	.widget_recent_entries li:before,
	.entry-header:after,
	.widget-title:after,
	.footer-scroll:before,
	.powen-pro-mobile-menu .mm:before
{
font-family: 'FontAwesome';
font-weight: normal;
font-style: normal;
}
.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transform: translate(0, 0);
}

/**---------------
Write your code here
--------------------**/

//HEADER
.powen-top-most-nav .mm:before, .powen-main-navigation .m:before, .powen-pro-mobile-menu .mm:before {
	content: "\f0c9";
	padding-right: rem-calc(5);
}

.powen-search-box-top .search-form label:after {
	content: "\f002";
	position: absolute;
	right: rem-calc(20);
	top: 0;
	color: #ececec;
}

//PRIMARY ICONS

//Date
.posted-on:before {
	content: "\f017";
	padding: rem-calc(5);
}
//Comment
.comments-link:before {
	content: "\f0e6";
	padding: rem-calc(5);
}
//Edit
.edit-link:before {
	content: "\f044";
	padding: rem-calc(5);
}
//Older posts
.nav-previous a:before {
	content: "\f100";
	margin: rem-calc(0 5);
}
//Newer posts
.nav-next a:after {
	content: "\f101";
	margin: rem-calc(0 3);
}
.author:before {
	content: "\f007";
	padding: rem-calc(5);
}
.cat-links:before {
	content: "\f02c";
	padding: rem-calc(5);
}
.comment-metadata time:before {
	content: "\f017";
	padding: rem-calc(5);
	padding-left: 0;
}
.powen-continue-reading:after {
	content: "\f178";
}


//SECONDARY ICONS

//Recent Comments
.widget_recent_comments li:before {
	content: "\f007";
	padding-right: rem-calc(10);
	color: #cccccc;
}
.widget_recent_comments li>a:before {
	content: "\f075";
	display: none;
}
//Archive
.widget_archive li:before {
	content: "\f105";
	color: #cccccc;
	margin-right: rem-calc(15);
}
.widget_recent_entries li:before {
	content: "\f105";
	color: #cccccc;
	margin-right: rem-calc(15);
}
//Categories
.widget_categories li:before {
	content: "\f105";
	color: #cccccc;
	margin-right: rem-calc(15);
}
//Meta
.widget_meta li:before {
	content: "\f105";
	color: #cccccc;
	margin-right: rem-calc(15);
}
.widget_pages li:before {
	content: "\f105";
	color: #cccccc;
	margin-right: rem-calc(15);
}
.powen-wrapper .recent-comment-people:before {
	content: "\f007";
	color: #454545;
	background: #2F2F2F;
	padding-right: rem-calc(10);
	padding-left: rem-calc(10);
	padding-top: rem-calc(10);
	border-radius: 50%;
}
.menu-long-menu-container li:before {
	content: "\f105";
	color: #cccccc;
	margin-right: rem-calc(15);
}

//RECENT WIDGETS
.widget_recent_entries li:before {
	content: "\f105";
	color: #cccccc;
	margin-right: rem-calc(15);
}

// widget-title
.entry-header:after, .widget-title:after {
   content: '';
   display: block;
   width: rem-calc(60);
   height: rem-calc(1);
   margin: rem-calc(25) auto rem-calc(25);
}


//Back To Top
.footer-scroll:before {
	content: "\f106";
	background: rgba(0, 0, 0, 0.46);
	margin: 0;
	position: fixed;
	bottom: rem-calc(100);
	right: rem-calc(50);
	width: rem-calc(40);
	text-align: center;
	height: rem-calc(35);
	z-index: 100;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	text-shadow: 0px 4px 0px #fff;
}